/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; 
  font-size:15px; 
  font-family: [Outfit](https://fonts.google.com/specimen/Outfit);
  font-weight:400,700;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
main{margin:50px;}

img {aspect-ratio:1; 
     border-radius:30px;
     max-width: 100%;
     display: block;
     margin:20px;
}
.img{margin:20px auto;
    background-color:white;
    border-radius:30px;
    max-width:10rem;}

input,
button,
textarea,
select {
  font: inherit;
}


@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
